body{
	background-color: black;
	color:#efefef;
	margin:0;
	font-size:1em;
	font-family: 'Open Sans', sans-serif;
}

h1.logo{
	font-size: 3rem;
	font-weight: 700;
	color:#ddd;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 0em;
	margin-bottom: 0em;
	padding: 1.5rem;
}
#logotyp{
	background-image: url("/img/cartographer/cartographer.png");
}